

  

/*--- Containers ---------*/


/*--- Containers ---------*/

/* Flex container*/
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  
}
/* Outer Container */




#outer-container {
    background-color: #262525;
    opacity: 0.9;
    width: 80%;
    margin: 0;
    margin-top: 0;
    padding: 1rem;
    color: #fafafa;
    border-radius: 1.5rem;
}

.choice-container {

    font-family: 'Nova Square', sans;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    padding: 0.75rem;
    background: linear-gradient(90deg, rgba(38, 37, 37, 1) 0%, rgba(0, 10, 37, 1) 100%);
    border-radius: 2rem;
    color: rgba(238, 237, 236, 1);
    margin: 0.3rem;
    box-shadow: -2px -2px 5px rgba(238, 237, 236, 1) inset;
    cursor: pointer;
    width: inherit; 
    height: auto;

}

.choice-container:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: rgba(124, 140, 124, 1);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(124, 140, 124, 1);
    transition: transform 150ms;
    transform: scale(1.03);
}

choice-prefix {
    padding: 2rem 2.5rem;
    color: #fafafa
}

choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(33, 147, 33) 0%, rgb(8, 110, 8) 100%) 1rem;
}

.incorrect {
    background: linear-gradient(32deg, rgba(235, 57, 71, 1) 0%, rgb(110, 8, 17) 100%) 1rem;
}

/* Counter Area */

#counter-area {
    display: flex;
    justify-content: space-between;

}

.counter-area-prefix {
    text-align: center;
    font-size: 1rem;

}

.counter-area-main-text {
    text-align: center;
    margin-top: 0.5rem;
}

#progressBar {
    width: 90%;
    height: 1rem;
    border: 0.2rem solid rgb(33, 147, 33);
    margin-top: 0.5rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(33, 147, 33);
    width: 0%;

}

/*-------MEDIA QUERIES------*/
/* TABLETS */

@media only screen and (min-width : 481px) {

    /*---- Header ---*/
  
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  
  img {
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
    
  }
  
    h1 {
      font-size: 5rem;
      padding-top: 1rem;
    }
  
    h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
  
    p {
      font-size: 1rem;
      padding-bottom: 0.5rem;
    }
  
    .btn {
      font-size: 1.5rem;
      margin: 0.5rem;
    }
  
    #modal-content {
      padding: 1.5rem;
    }
  
    input {
      font-size: 1.5rem;
    }
  
    li {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
  
    choice-prefix {
      padding: 0;
      color: #fafafa
  }
  
  choice-text {
      padding: 0rem;
      width: 50%;
  }
  }
  
  
  /* Laptops */
  @media only screen and (min-width : 769px) {
  
    /*---- Header ---*/
  
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    padding-bottom: 0rem;
  }


}