


/*--- Containers ---------*/

/* Flex container*/
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

}

/* Outer Container */

#outer-container {
    background-color: #262525;
    opacity: 0.9;
    width: 80%;
    margin: auto;
    margin-top: 0;
    padding: 1rem;
    color: #fafafa;
    border-radius: 1.5rem;
}

.choice-container {

    font-family: 'Nova Square', courier, monospace;
    font-size: 2.45rem 0;
    text-align: center;
    padding: 1.5rem;

    background: linear-gradient(90deg, rgba(38, 37, 37, 1) 0%, rgba(0, 10, 37, 1) 100%);
    border-radius: 2rem;
    color: rgba(238, 237, 236, 1);
    margin: 0.3rem;
    box-shadow: -2px -2px 5px rgba(238, 237, 236, 1) inset;
    text-decoration: none;

}

.choice-container:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: rgba(124, 140, 124, 1);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(124, 140, 124, 1);
    transition: transform 150ms;
    transform: scale(1.03);
}

choice-prefix {
    padding: 2rem 2.5rem;
    color: #fafafa
}

choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(33, 147, 33) 0%, rgb(8, 110, 8) 100%)
}

.incorrect {
    background: linear-gradient(32deg, rgba(235, 57, 71, 1) 0%, rgb(110, 8, 17) 100%)
}

/* Counter Area */

#counter-area {
    display: flex;
    justify-content: space-between;
}

.counter-area-prefix {
    text-align: center;
    font-size: 2rem;
}

.counter-area-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(33, 147, 33);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(33, 147, 33);
    width: 0%;

}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30rem;
    }
}