/*---- Header ---*/

header {
    display: flex;
    flex-direction: column;
    text-align: center;

}

img {
    max-width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
}

body {
    color: aliceblue;
}

#highScoreslist {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


form {
    display: flex;
    flex-direction: column;
}

.input {
    font-family: 'Nova Square', courier, monospace;
    ;
    font-size: 1rem;
    color: #8C928F;
    padding: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 2rem;
    text-align: center;
}

/* Flex container*/
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

}

/* Outer Container */

#outer-container {
    background-color: #262525;
    opacity: 0.9;
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: #fafafa;
    border-radius: 1.5rem;
    margin-top: 0;
    margin-bottom: 20%;
}