/*--- Google Fonts Import---*/


@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap')


:root {

  /*---- Typography -----*/
  --content-text: 'Nova Square', sans;

  /*---- Colours ---*/

  --white: #fafafa;
  --black: #262525;
  --red: #EB3947;
  --lightGrey: #EEEDEC;
  --grey: #8C928F;
  --silver: #8C8D93;
  --green: #7C8C7C;
}


/* Removes all margins & padding on everything so they can be fully customised */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nova Square', sans;
  font-size: 62.5%;
}

/* Backgroud image and Backup colour */

body {
  background-image: url("../images/background.jpg");
  background-color: #262525;
  background-size: cover;
  font-family: 'Nova Square', sans;
}

h1 {
  font-size: 3.8rem;
  padding-top: 1.5rem;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

/*---- Header ---*/

header {
  display: flex;
  flex-direction: column;
  text-align: center;

}

img {
  max-width: 100%;
  margin-top: -80px;
  margin-bottom: 0px;
}


/*--- Containers ---------*/

/* Flex container*/
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  
}

/* Outer Container */

#outer-container {
  background-color: #262525;
  opacity: 0.9;
  width: 80%;
  margin: auto;
  margin-top: -10px;
  padding: 1rem;
  color: #fafafa;
  border-radius: 1.5rem;
}

/*---- Button Styling ----*/

/* Button Groups */
.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;

}

.btn {
  font-family: 'Nova Square', sans;
  font-size: 2.45rem 0;
  text-align: center;
  padding: 1.5rem;
  background: linear-gradient(90deg, rgba(38, 37, 37, 1) 0%, rgba(0, 10, 37, 1) 100%);
  border-radius: 2rem;
  color: rgba(238, 237, 236, 1);
  margin: 0.3rem;
  box-shadow: -2px -2px 5px rgba(238, 237, 236, 1) inset;
  text-decoration: none;
  

}

.btn:hover {
  cursor: pointer;
  background-color: #fafafa;
  color: rgba(124, 140, 124, 1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(124, 140, 124, 1) ;
  transition: transform 150ms;
  transform: scale(1.03);
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: linear-gradient(90deg, rgba(140, 141, 147, 1) 0%, rgba(130, 136, 140, 1) 100%);
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(38, 37, 37, 1) ;

}




/*---------- Modal ----------*/
/* created using tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I
 Making the modal container show on the whole screen, centering the contents */
#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* Changed the modal opacity to be seen */
#modal-container.show {
  opacity: 1;
  pointer-events: auto;
}



/* Adding a border with rounded corners and padding around the modal content */
#modal-content {
  width: 80%;
  background-image: url("../images/background.jpg");
  border: #EB3947 5px solid;
  border-radius: 1.5rem;
  padding: 2rem;
  color: #262525;
  text-align: center;
}

/* adding margin to top of close modal button */
#close-modal {
  margin-top: 3rem;


}



/*-------MEDIA QUERIES------*/
/* TABLETS */

@media only screen and (min-width : 481px) {

  h1 {
    font-size: 5rem;
    padding-top: 1rem;
  }

  #outer-container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .btn {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  #modal-content {
    padding: 1.5rem;
  }

  input {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  
 
}

/* Laptops */
@media only screen and (min-width : 769px) {

  h1 {
    font-size: 6rem;
    padding-top: 1.5rem;
  }

  p {
    padding-bottom: 1.75rem;
  }

  #modal-content {
    padding: 4rem;
  }

}
